body {
	text-align: center;
	font-size: 16px;
	font-family: 'Revalia', cursive;

	/* source for background style: https://24ways.org/2011/css3-patterns-explained */
	background: radial-gradient(circle, #fff 30%, #eeeff800 10%),
		radial-gradient(circle, #fff 30%, #fefdb8 30%) 100px 100px;
	background-size: 200px 200px;
}

.wrapper{
	width: 505px;
	margin-left: auto;
	margin-right: auto;
}

canvas {
}

.game_titile {
	font-size: 3em;
	letter-spacing: 0.2em;
	font-weight: bold;
	margin-top: 30px;
	font-family: 'Slackey', cursive;
	color: blueviolet;
}

.game_instruction {
	color: forestgreen;
	margin-top: 20px;
	font-weight: normal;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.3em;
}

.game_instruction:hover {
	color: #444;
}

.popup_info{
	display: block;
	position: fixed;
	top: 128px;
	width: 465px;
	padding: 30px 20px 90px 20px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background: linear-gradient(140deg, #209206 30%, #5fc148 70%);
	font-size: 1em;
	line-height: 1.5;
	font-family: 'Revalia', cursive;
}

.popup_end {
	display: none;
	position: fixed;
	top: 208px;
	width: 465px;
	padding: 30px 20px 55px 20px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background: linear-gradient(140deg, #209206 30%, #5fc148 70%);
	font-size: 1.3em;
	line-height: 1.5;
	font-family: 'Revalia', cursive;
}

.game_eggs {
	display: block;
	width: 400px;
	height: 40px;
	text-align: left;
	position: relative;
	top: 20px;
}

.game_eggs img {
	display: inline-block;
	width: 7%;
}

.game_trophies{
	display: block;
	width: 300px;
	height: 40px;
	text-align: left;
	position: relative;
	top: 30px;
}

.game_trophies img {
	display: inline-block;
	margin-right: 5px;
}

.yellow {
	color: yellow;
}

.green {
	color: #68f20b;
	font-size: 1.3em;
}

.info {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	background-color: blueviolet;
	padding: 20px;
}

.infoEnd {
	color: #fff;
	font-weight: bold;
	font-size: 1em;
	background-color: blueviolet;
	padding: 10px 10px 20px;
	display: block;
}

#timer{
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 20px;
	float: right;
	position: relative;
	top: 80px;
	color: #e806e0;
	font-family: Arial, Vardana, serif;
}

/* [src~=images/enemy-chicken.png] {
	position: absolute;
    z-index: 100;
}

[src~=images/Rock.png],
[src~=images/Gem_Orange.png],
[src~=images/Gem_Blue.png],
[src~=images/Gem_Green.png]{
	position: absolute;
    z-index: 0;
} */